* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* font-family: "Space Grotesk","Inter", sans-serif; */

h2 {
    font-family: "Space Grotesk";
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.liner {
    width: 2px;
    height: 140px;
    background: rgba(128, 128, 128, 0.744);
    position: absolute;
    right: 20px;
    top: 10px;
}

.line {
    padding: 0px 20px;
    position: relative;
}
.all {
    display: flex;
    margin-top: 20px;
}

button {
    color: gray;
    border-radius: 99px;
    margin-top: 10px;
    width: 100px;
    padding: 5px;
    border: none;
    font-weight: bold;
    background: rgb(207, 205, 205);
    transition: 0.3s linear;
    transition-property: color, background;
}

button:hover {
    color: #fff;
    background: #a26f5a;
}

.text {
    margin-bottom: 10px;
}

.cricle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #429386;
}

.criclebg {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #e4edeb;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 11px;
    z-index: 1;
    top: 5px;
}
.time {
    position: relative;
    top: 6px;
}

.all + .all {
    padding-top: 25px;
}

.spderman {
    height: 300px;
    width: auto;
}

.spdergirl {
    height: 200px;
    width: auto;
}

.bottom {
    position: relative;
}

.top {
    position: absolute;
    right: 75%;
    top: 20%;
}

.menu {
    display: flex;
    margin: 10px auto;
}

.wrapright {
    position: relative;
    left: 40%;
    top: 25px;
}

.wrapleft {
    position: relative;
    left: 16%;
}
